:root {
  --animation-duration: 0.25s;
}

.bottom-modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  flex-direction: column;
  justify-content: flex-end;
  background-color: rgba(0, 0, 0, 0);
  z-index: 1000;
  display: none;

  &[data-open='true'] {
    // display: flex;

    animation: fade-in var(--animation-duration) forwards;

    .bottom-modal {
      &__content-wrapper {
        animation: slide-up var(--animation-duration) forwards;
      }
    }
  }

  &[data-closing='true'] {
    // display: flex;

    animation: fade-out var(--animation-duration) forwards;

    .bottom-modal {
      &__content-wrapper {
        animation: slide-down var(--animation-duration) forwards;
      }
    }
  }

  &__content-wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    height: 65vh;
    background-color: var(--clr-white);
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    overflow: hidden;

    translate: 0 10%;
    opacity: 0;

    .close-button {
      position: absolute;
      right: 0.75rem;
      top: 0.75rem;
      color: var(--clr-black);
      border: none;
      cursor: pointer;
      background-color: transparent;

      > svg {
        width: 1rem;
        height: 1rem;
      }
    }

    .header {
      margin: 1rem 0 1rem 1rem;
      font-size: 1.5rem;
      font-weight: 700;
    }

    .body {
      flex: 1;
      overflow: hidden;
    }
  }
}

@keyframes slide-up {
  0% {
    translate: 0 10%;
    opacity: 0;
  }
  100% {
    opacity: 1;
    translate: 0 0%;
  }
}
@keyframes slide-down {
  0% {
    opacity: 1;
    translate: 0 0%;
  }
  100% {
    opacity: 0;
    translate: 0 10%;
  }
}
@keyframes fade-in {
  0% {
    background-color: rgba(0, 0, 0, 0);
  }
  100% {
    background-color: rgba(0, 0, 0, 0.5);
  }
}
@keyframes fade-out {
  0% {
    background-color: rgba(0, 0, 0, 0.5);
  }
  100% {
    background-color: rgba(0, 0, 0, 0);
  }
}
