.loading-progress-bar {
  //   border: 1px solid red;
  margin-top: 1rem;
  display: flex;
  gap: 0.5rem;

  &__progress {
    flex: 1;
    height: 4px;
    background-color: var(--clr-gray-300);
    border-radius: 2px;
    overflow: hidden;

    &__indicator {
      width: 0;
      height: 100%;
      background-color: #006aff;

      &.completed {
        width: 100%;
        animation: none;
      }

      &.animated {
        animation: loading-progress-bar 1.5s ease infinite;
      }
    }
  }
}

@keyframes loading-progress-bar {
  0% {
    width: 0;
  }
  50% {
    width: 100%;
    opacity: 1;
  }
  100% {
    width: 100%;
    opacity: 0;
  }
}
