.form-input__wrapper {
  .form-input__label-container {
    display: flex;
    margin-bottom: 0.25rem;
    .info-card__wrapper {
      margin-left: auto;
      position: relative;

      .info-card__anchor {
        display: inline-grid;
        place-items: center;
        font-size: 0.875rem;
        height: 1.1rem;
        width: 1.1rem;
        border-radius: 1000px;
        border: none;
        background-color: var(--clr-gray-600);
        color: white;
        // cursor: pointer;
      }
    }
  }
}

.form-input {
  --animation-duration: 0.15s;
  display: flex;

  //   flex: 1;
  padding-inline-end: 0.625rem;

  border: 1px solid var(--clr-gray-200);
  background-color: var(--clr-gray-200);

  transition: background-color var(--animation-duration) ease-in-out,
    border var(--animation-duration) ease-in-out;

  &:focus-within {
    border: 1px solid var(--clr-black);
    background-color: var(--clr-white);
  }

  > input,
  > select {
    min-width: 0;
    width: 100%;
    border: none;
    outline: none;
    background-color: transparent;
    padding: 0.375rem 0.875rem;
  }

  > img {
    flex-shrink: 0;
  }
}
