.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 100;
  display: flex;
  justify-content: center;
  align-items: center;

  &__skip-button {
    position: absolute;
    top: 2rem;
    right: 0;
    padding: 1rem;
    font-size: 1rem;
    color: white !important;
    cursor: pointer;
    z-index: 100;

    &:hover {
      background-color: transparent !important;
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    background-color: white;
    padding: 2rem;
    margin-inline: 1rem;
    border-radius: 0.25rem;
  }
}
